.container {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/tiger.jpg');
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
}

.header {
  background-color: black;
  color: white;
  text-align: center;
}

.header h1 {
  margin-top: 0;
  padding: 10px 0;
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100%;
}


.result {
  display: flex;
  justify-content: space-around;
}

.leftSection {
  background-color: rgba(48, 25, 52, 0.6);
  width: 500px;
  height: 500px;
  color: white;
}

.rightSection {
  background-color: rgba(48, 25, 52, 0.6);
  width: 500px;
  height: 500px;
  color: white;
}

.footer {

}