.container {
  background-color: purple;
  height: 100vh;
}

.header {
  background-color: black;
  color: white;
  text-align: center;
}

.header h1 {
  margin-top: 0;
  padding: 10px 0;
}

.main {

}

.left-section {

}

.right-section {

}

.footer {

}